<div class="bg-off-white pv4">
    <div class="flex-l mhn1-l ph6-m ph4-ns center mw9 db-ns">
        <div class="w-third mw5 mh0-m mh6-ns ph3-m ph1-ns center">
            <img src={{.image}} class="br-100 w-100">
        </div>
        <div class="mhn1-r ph3 center mw7 w-two-thirds db-ns">
            <h2 class="f3 b lh-title mb2 w-60-l">{{.heading}}</h2>
            <p class="w-100-l mb0">{{.text}}</p>
                <div class="fl">
        {{ partial "social-icon" (dict "twitter_link" "https://twitter.com/SihaoLu" "github_link" "https://github.com/Sihao" "linkedin_link" "https://www.linkedin.com/in/sihao-lu-a4151184/")}}
    </div>
        </div>
    </div>

</div>