{{/* On the grid of the publication cards below: the photo over the first
     card's column, the text across the rest. Stacked on phones. */}}
<div class="bg-off-white pt4 pb3">
	<div class="ph3 mw-cards center">
		<div class="card-grid flex-m items-center-m">
			<div class="w-50-m w-third-l pr3-m mb4 mb0-m tc tl-m">
				<img src="{{ .image }}" alt="Sihao Lu" class="br-100 w-100 mw5 dib v-mid">
			</div>
			<div class="w-50-m w-two-thirds-l pr3-m">
				<h2 class="f2 fw6 lh-title mb2">{{ .heading }}</h2>
				<p class="about-text mb0" data-tex-justify>{{ .text }}</p>
				<div class="dib">
					{{ partial "social-icon" (dict "bluesky_link" "https://bsky.app/profile/sihaolu.bsky.social" "github_link" "https://github.com/Sihao" "linkedin_link" "https://www.linkedin.com/in/sihao-lu-a4151184/") }}
				</div>
			</div>
		</div>
	</div>
</div>
<script defer src="https://cdn.jsdelivr.net/npm/tex-linebreak@0.9.0/dist/lib.js" integrity="sha384-+mzI4PJaNgSVgLQFaWY1DxwGUzNPx8HpWxkX+XmrbFSV4OjZkok7DUOmHS9Mepd+" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/tex-linebreak@0.9.0/dist/hyphens_en-us.js" integrity="sha384-O18JzLDtmRj8lMDKjQ/VZOo09Ye41get5V+PDYP1atYLjrMbCO390FdScF4XAZts" crossorigin="anonymous"></script>
<script defer src="/js/tex-justify.js"></script>
