{{ define "main" }}

<article class="mw7 center ph3 pv4 flex-ns items-start">
  {{ with .Params.sketch }}
  <aside class="publication-aside w-sixth-ns flex-none mb4 mb0-ns">
    {{ partial "p5-sketch" (dict "name" . "page" $ "class" "publication-sketch" "label" $.Params.sketchLabel) }}
  </aside>
  {{ end }}
  <div class="flex-auto pl4-ns">
    <h1 class="f2 lh-title b mt0 mb3">{{ .Title }}</h1>
    {{ with .Params.authors }}<p class="mt0 mb1">{{ . | markdownify }}</p>{{ end }}
    <p class="grey-3 mt0 mb4">
      {{ with .Params.journal }}{{ . }}, {{ end }}{{ .Date.Format "2006" }}
      {{ with .Params.doi }} · <a class="grey-3" href="https://doi.org/{{ . }}">doi:{{ . }}</a>{{ end }}
      {{ with .Params.preprint }} · <a class="grey-3" href="https://doi.org/{{ . }}">preprint</a>{{ end }}
    </p>
    <div class="cms">
      {{ .Content }}
    </div>
  </div>
</article>

{{ end }}
